@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
    font-family: Raleway;
    color: black;
}


html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: grey;
    transition: all 0.5s ease;
}

.body-page:hover{
    background-color: silver;
}
.page-about{
    background-image: url("images/about.jpg")  ;  
    height: 800px;
    width: 999px;
    position: absolute;
    background-size: cover;  
    background-repeat: no-repeat;
    
}


.img:hover{
    transition: all 0.5s ease;

}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.3em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.267);
}

.main-header {
    background-color: black;
    background-image: url("Images/Header Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}


.hr-line {
    width:100%; 
    

}


.band-name {
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-family: "HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 20px;
    margin-right: 86%;
    position: relative;
    top: -40px;
}

.band-name-largef{
    font-size: 23px;
    margin-right: -34%;
    position: relative;
    top: -11px;

}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    margin-top: 10px;
    font-size: 2.5em;
}
.container-middle{
    display: flex;
    margin-left: 5rem;
    width: 180px ;
}
/* image one */

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;

}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}
.imagesone{
    position: relative;
     top: -20px;
      margin-left: -1em; 
}
.imagesone:hover .overlay{
    transform: scale(1.2);
    opacity: 0.8;
}

/* Image two */

.overlay2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;

}

.content2{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}
.imagestwo{
    position: relative;
     top: 1px;
      margin-left: -1em; 
}
.imagestwo:hover .overlay2{
    transform: scale(1.2);
    opacity: 0.8;
}

/* image three  */

.overlay3{
    position: absolute;
    top: 8px;
    left: 77px;
    right: 0;
    bottom: 0;
    opacity: 0;
    height: 18.4em;
    width: 76%;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;

}

.content3{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}
.imagesthree{
    position: relative;
     top: 1px;
      margin-left: -1em; 
}
.imagesthree:hover .overlay3{
    transform: scale(1.2);
    opacity: 0.8;
}

/* image four  */

.overlay4{
    position: absolute;
    top: 11px;
    left: 65px;
    right: 0;
    bottom: 0;
    opacity: 0;
    height: 350px;
    width: 400px;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;

}

.content4{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}
.feature1{
    position: relative;
     top: 1px;
      margin-left: -1em; 
}
.feature1:hover .overlay4{
    transform: scale(1.2);
    opacity: 0.8;
}

/* image five  */

.overlay5{
    position: absolute;
    top: 11px;
    left: 50px;
    right: 0;
    bottom: 0;
    opacity: 0;
    height: 350px;
    width: 400px;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;
}

.content5{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}
.feature2{
    position: relative;
     top: 1px;
      margin-left: -1em; 
}
.feature2:hover .overlay5{
    transform: scale(1.2);
    opacity: 0.8;
}



/* image six  */

.overlay6{
    position: absolute;
    top: 13px;
    left: 18px;
    right: 0;
    bottom: 0;
    opacity: 0;
    height: 350px;
    width: 400px;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;

}

.content6{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}

.feature3{
    position: relative;
     top: 1px;
      margin-left: -1em; 
}

.feature3:hover .overlay6{
    transform: scale(1.2);
    opacity: 0.8;
}


/* Image seven */

.overlay7{
    position: absolute;
    top: 65px;
    left: 21px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    height: 208px;
    width: 208px;
    padding: 1px;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;

}

.content7{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}
.shop-item{
    position: relative;
     top: 1px;
      margin-left: -1em; 
}
.shop-item:hover .overlay7{
    transform: scale(1.2);
    opacity: 0.8;
}

/* Image eight */

.overlay8{
    position: absolute;
    top: 65px;
    left: 21px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    height: 208px;
    width: 208px;
    padding: 1px;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;

}

.content8{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}
.shop-item{
    position: relative;
     top: 1px;
      margin-left: -1em; 
}
.shop-item:hover .overlay8{
    transform: scale(1.2);
    opacity: 0.8;
}


/* Image nine */

.overlay9{
    position: absolute;
    top: 65px;
    left: 21px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    height: 208px;
    width: 208px;
    padding: 1px;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;

}

.content9{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}
.shop-item{
    position: relative;
     top: 1px;
      margin-left: -1em; 
}
.shop-item:hover .overlay9{
    transform: scale(1.2);
    opacity: 0.8;
}

/* Image ten */

.overlay10{
    position: absolute;
    top: 65px;
    left: 21px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    height: 208px;
    width: 208px;
    padding: 1px;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;

}

.content10{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}
.shop-item{
    position: relative;
     top: 1px;
      margin-left: -1em; 
}
.shop-item:hover .overlay10{
    transform: scale(1.2);
    opacity: 0.8;
}

/* Image eleven */

.overlay11{
    position: absolute;
    top: 65px;
    left: 21px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    height: 208px;
    width: 208px;
    padding: 1px;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;

}

.content11{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}
.shop-item{
    position: relative;
     top: 1px;
      margin-left: -1em; 
}
.shop-item:hover .overlay11{
    transform: scale(1.2);
    opacity: 0.8;
}

/* Image tweleve */

.overlay12{
    position: absolute;
    top: 65px;
    left: 21px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    height: 208px;
    width: 208px;
    padding: 1px;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;

}

.content12{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}
.shop-item{
    position: relative;
     top: 1px;
      margin-left: -1em; 
}
.shop-item:hover .overlay12{
    transform: scale(1.2);
    opacity: 0.8;
}

/* Image thirteen */

.overlay13{
    position: absolute;
    top: 65px;
    left: 21px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    height: 208px;
    width: 208px;
    padding: 1px;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;

}

.content13{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}
.shop-item{
    position: relative;
     top: 1px;
      margin-left: -1em; 
}
.shop-item:hover .overlay13{
    transform: scale(1.2);
    opacity: 0.8;
}

/* Image fourteen */

.overlay14{
    position: absolute;
    top: 65px;
    left: 21px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    height: 208px;
    width: 208px;
    padding: 1px;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;

}

.content14{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}
.shop-item{
    position: relative;
     top: 1px;
      margin-left: -1em; 
}
.shop-item:hover .overlay14{
    transform: scale(1.2);
    opacity: 0.8;
}

/* Image fifteen */

.overlay15{
    position: absolute;
    top: 65px;
    left: 21px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    height: 208px;
    width: 208px;
    padding: 1px;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;

}

.content15{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}
.shop-item{
    position: relative;
     top: 1px;
      margin-left: -1em; 
}
.shop-item:hover .overlay15{
    transform: scale(1.2);
    opacity: 0.8;
}

/* Image sixteen */

.overlay16{
    position: absolute;
    top: 65px;
    left: 21px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    height: 208px;
    width: 208px;
    padding: 1px;
    transition: opacity 0.4s ease-in-out;
    background: silver;
    cursor: pointer;

}

.content16{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}
.shop-item{
    position: relative;
     top: 1px;
      margin-left: -1em; 
}
.shop-item:hover .overlay16{
    transform: scale(1.2);
    opacity: 0.8;
}

.features{
    display: flex;
    margin-left: 2rem;
}
.section-middle{
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.news-highlight{
    background-color: transparent;
    color: #111;
    font-weight: bold;
    position: relative;
    left: 3%;
    top: -2%;
    text-decoration: none;
    cursor: pointer;
}

.Listen1{
    position: relative;
    left: 4rem;
    top: -3px;
    width: 8rem;
    height: -3rem;
    text-decoration: none;
    text-align: center; 
    border:1px solid black;
}


.Listen1:hover {
    background-color: rgb(13, 56, 197);
}


  
.Listen2{
    position: relative;
    left: 12rem;
    top: -3px;
    width: 8rem;
    height: -3rem;
    text-decoration: none;
    text-align: center; 
    border:1px solid black;

}

.Listen2:hover {
    background-color: rgb(13, 56, 197);
}


.Listen3{
    position: relative;
    left: 8rem;
    top: -3px;
    width: 8rem;
    height: -3rem;
    text-decoration: none;
    text-align: center; 
    border:1px solid black;

}

.Listen3:hover {
    background-color: rgb(13, 56, 197);
}
.news-highlight1{
    background-color: transparent;
    color: #111;
    font-weight: bold;
    position: relative;
    text-align: center;
    left: 35%;
    top: -2%;
    text-decoration: none;
    cursor: pointer;

}
.news-feature1{
    background-color: transparent;
    color: #111;
    font-weight: bold;
    position: relative;
    left: 35%;
    top: -2%;
    text-decoration: none;
    cursor: pointer;
}
.news-highlight2{
    background-color: transparent;
    color: #111;
    font-weight: bold;
    position: relative;
    text-align: center;
    left: 5%;
    top: -2%;
    text-decoration: none;
    cursor: pointer;
}
.news-feature2{
    background-color: transparent;
    color: #111;
    font-weight: bold;
    position: relative;
    left: 36%;
    top: -2%;
    text-decoration: none;
    cursor: pointer;
}

.news-highlight3{
    background-color: transparent;
    color: #111;
    font-weight: bold;
    position: relative;
    left: 6%;
    font-size: 15px;
    top: -2%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.news-feature3{
    background-color: transparent;
    color: #111;
    font-weight: bold;
    position: relative;
    left: 33%;
    top: -2%;
    text-decoration: none;
    cursor: pointer;
}


.about-band-image {
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    width: 750px;
    margin-left: -47%;
    margin-top: 3%;
    opacity: 1.0;
    filter: alpha(opacity=30); /* For IE 8 & 9 (more valid) */

}

.content-section-two{
    margin-top:5% ;
    align-self: center;
 color:white;
 height: 52%;
 padding: 6%;
 right: -43%;
 position: relative;
 z-index: 21px;
 line-height: 1.1;
 font-weight: bold;
 max-width: 54%;
 font-size: 25px;
 font-family: 'Josefin Sans';
 font-style: var(--content-typeface-style-font-style);
}

.main-footer {
    background-color: black;
    color: white;
    padding: 0.15em 0;
    margin-top: 10%;

}

.red-color{
    color:red;
}
.green-color {
    color:green;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 40px;
    height: 40px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 26%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}



.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}   